MEMBER_IMAGE_KEY="seed/default-avatar.jpg"
MEMBER_IMAGE_URL="https://pub-42e3151059ed433f841a1e7b8449d6d0.r2.dev/seed/default-avatar.jpg"
MEMBER_IMAGE_NAME="default-avatar.jpg"
MEMBER_IMAGE_MIME_TYPE="image/jpeg"

EVENT_IMAGE_KEY="seed/default-event.jpg"
EVENT_IMAGE_URL="https://pub-42e3151059ed433f841a1e7b8449d6d0.r2.dev/seed/default-event.jpg"
EVENT_IMAGE_NAME="default-event.jpg"
EVENT_IMAGE_MIME_TYPE="image/jpeg"
